/* Website Stuff*/
body {
    background-image: url("images/background.jpg");
    overflow: auto;
}

@font-face {
    font-family: "UDDigiKyokashoN-R";
    src: url("fonts/UDDigiKyokashoNP-R.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#main_title {
    margin-left: 5%;
    width: 40%;
    height: 15%;
    border-style: solid;
    user-select: none;
}

#about {
    font-size: 1.5vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#octo_img {
    width: 14vw;
    height: 14vw;
    display: block;
    float: right;
    margin-top: 1vw;
    margin-right: .5vw;
    border-style: solid;
}

#octo_hello {
    position: absolute;
    right: 8%;
    top: 30%;
    color: white;
}

#me_img {
    width: 10vw;
    height: 15vw;
    float: left;
    margin-right: 1vw;
    border-style: solid;
}

#me_thanks {
    position: absolute;
    left: 8.5%;
    top: 67%;
    color: white;
    transform: rotate(20deg);
}

#milo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    margin-bottom: 1vw;
}

#last_updated { 
    float: right;
}

.tab {
    margin-left: 5%;
    margin-top: 3%;
    position: relative;
}

.tablinks {
    border-style: solid;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-color: black;
    border-width: .1vw;
    width: 10%;
    height: 7%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1.1vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .kanji_btn {
    position: relative;
    padding: 1vw;
    margin-left: 4%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 6vw;
    font-family: "UDDigiKyokashoN-R", arial, serif;
  }

  .quiz_buttons {
    font-size: 4vw;
    font-weight: bold;
  }

#main_body {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    overflow: hidden;
}

#front_page {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-size: 4vw;
    height: 60%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul {
    list-style-type: circle;
}

.help_buttons {
    background: none;
    border: none;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 2vw;
    margin-bottom: 0%;
    height: 4%;
}

.help_buttons:hover {
    text-decoration: underline;
}

.help_arrow {
    margin-left: 2%;
}


.help_arrow:hover {
    text-decoration: none;
}

.help_content {
    display: none;
    user-select: none;
}

#help_howto {
    margin-left: 2%;
}

.shortcuts {
    font-weight: bolder;
}

span + span {
    float: right;
    font-style: italic;
}

#help {
    width: 95%;
    border: none;
    font-size: 1.5vw;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content {
    /* background-color: #fefefe; */
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
    background-image: url("images/scroll.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #kanji_gif {
      position: absolute;
      height: 30%;
      width: 14%;
  }

  #display_kanji {
    font-family: "UDDigiKyokashoN-R", arial, serif;
    font-size: 30vw;
    position: fixed;
    margin: auto;
    left: 35%;
    top: 16%;
    opacity: 0.1;
    text-align: center;
    user-select: none;
}

.display {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:white;
    top: 10%;
    width: 55%;
    user-select: none;
}

.hiragana {
    left: 40%;
}

.english {
    right: 25%;
}


/*Drawing Board CSS*/
.container {
    height: 100%;
    display: flex;
}

.drawing-board {
    position: absolute;
    margin-left: 9%;
    z-index: 1;
    margin-top: 3%;
    width:50%;
    touch-action: none;
}

#clear {
    position: absolute;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    font-size: 1vw;
    top: 10%;
    left: 25%;
    background-color: green;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 4px;
    z-index: 2;
} 

#undo {
    position: absolute;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    font-size: 1vw;
    top: 10%;
    left: 30%;
    background-color: green;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 4px;
    z-index: 2;
}

#close {
    position: absolute;
    top: 10%;
    right: 16%;
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
    z-index: 2;
}


#check {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    width: fit-content;
    bottom: 3%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    font-size: 4vw;
    background-color: green;
    border: none;
    color:white;
    z-index: 2;
    display: none;
}

.arrow {
    position: absolute;
    top: 34%;
    z-index: 2;
}

.left {
    left: 1%;
    border-top: 6vw solid transparent;
	border-right: 10vw solid darkslategray;
	border-bottom: 6vw solid transparent;
    border-left: transparent;
    background: none;
}

.right {
    right: 1%;
    border-top: 6vw solid transparent;
	border-left: 10vw solid darkslategray;
	border-bottom: 6vw solid transparent;
    border-right: transparent;
    background: none;
}

#counter {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 83.5%;
    left:0;
    right:0;
    text-align: center;
    width: fit-content;
    font-size: 3.5vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: white;
    border-style: solid;
    user-select: none;
    display: none;
}

#quiz_time {
    position: absolute;
    color: red;
    font-size: 8vw;
    margin-top: auto;
    margin-bottom: auto;
    top: 19vw;
    left: -16vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    display: none;
    user-select: none;
    -webkit-transform: rotate(-90deg);   
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 2;
}
