/* Website Stuff*/
body {
    background-image: url("images/background.jpg");
    overflow: auto;
}

@font-face {
    font-family: "UDDigiKyokashoN-R";
    src: url("fonts/UDDigiKyokashoNP-R.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#main_title {
    margin-left: 5%;
    width: 40%;
    height: 15%;
    border-style: solid;
    cursor: pointer;
    user-select: none;
}

#about {
    font-size: 1.5vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#octo_img {
    width: 14vw;
    height: 14vw;
    display: block;
    float: right;
    margin-top: 1vw;
    margin-right: .5vw;
    border-style: solid;
}

#octo_hello {
    position: absolute;
    right: 8%;
    top: 30%;
    color: white;
}

#me_img {
    width: 10vw;
    height: 15vw;
    float: left;
    margin-right: 1vw;
    border-style: solid;
}

#me_thanks {
    position: absolute;
    left: 8.5%;
    top: 67%;
    color: white;
    transform: rotate(20deg);
}

#milo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    height: 18vw;
    width: 30vw;
    margin-bottom: 1vw;
}

#last_updated { 
    float: right;
}

.tab {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    position: relative;
}

.tablinks {
    border-style: solid;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-color: black;
    border-width: .1vw;
    background-color: rgb(234, 234, 234); /*literally just for ipads*/
    width: 10%;
    height: 7%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1.4vw;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .kanji_btn {
    position: relative;
    padding: 1vw;
    margin-left: 4%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 6vw;
    font-family: "UDDigiKyokashoN-R", arial, serif;
    cursor: pointer;
  }

  .quiz_buttons {
    font-size: 4vw;
    font-weight: bold;
    cursor: pointer;
  }

#main_body {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    overflow: hidden;
}

#front_page {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-size: 4vw;
    height: 60%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul {
    list-style-type: circle;
}

.help_buttons {
    background: none;
    border: none;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 2vw;
    margin-bottom: 0%;
    height: 4%;
    cursor: pointer;
}

.help_buttons:hover {
    text-decoration: underline;
}

.help_arrow {
    margin-left: 2%;
}


.help_arrow:hover {
    text-decoration: none;
}

.help_content {
    display: none;
    user-select: none;
}

#help_howto {
    margin-left: 2%;
}

.shortcuts {
    font-weight: bolder;
}

span + span {
    float: right;
    font-style: italic;
}

#help {
    width: 95%;
    border: none;
    font-size: 1.5vw;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content {
    margin: 3% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
    background-image: url("images/scroll.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: center;  */
    /* TODO TEST THIS OUT IF THIS WILL WORK*/ 
    display: flex;
    flex-direction: column;
  }

  #kanji_gif {
      position: absolute;
      height: 30%;
      width: 14%;
  }

  #display_kanji {
    font-family: "UDDigiKyokashoN-R", arial, serif;
    font-size: 30vw;
    position: absolute;
    margin: auto;
    left: 35%;
    top: 16%;
    opacity: 0.1;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*Drawing Board CSS*/

#board_space{
    height: 80%;
    z-index: 1;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toolbar {
    margin-top: 1.5vw;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    padding: .8vw;
    height: 2vw;
    width: 100%;
    z-index: 2;
}

.display {
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:white;
    flex-basis: 21vw;
    font-size: 2vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar_button {
    align-self: center;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    background-color: green;
    border: none;
    border-radius: .3vw;
    color:white;
    padding: .2vw;
    margin-right: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
} 

#line_width_box {
    align-self: center;
    background-color: green;
    border: none;
    border-radius: .3vw;
    padding: .2vw;
    margin-right: 1.5vw;
    height: 2.3vw;
    text-align: center;
    display: flex;
}

#line_width_label {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
    margin: 0%;
    margin-right: .3vw;
    height: 2.3vw;
}

#line_width {
    align-self: center;
    text-align: center;
    font-size: 1vw;
    width: 3.2vw;
    height: 1.5vw;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   cursor: pointer;
}

#close {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
    cursor: pointer;
}


#check {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    width: fit-content;
    bottom: 3%;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    font-size: 6vw;
    background-color: green;
    border: none;
    color:white;
    z-index: 2;
    cursor: pointer;
    display: none;
}

.arrow {
    position: absolute;
    top: 34%;
    cursor: pointer;
    z-index: 2;
}

.left {
    left: -1%;
    border-top: 6vw solid transparent;
	border-right: 10vw solid darkslategray;
	border-bottom: 6vw solid transparent;
    border-left: transparent;
    background: none;
}

.right {
    right: -1%;
    border-top: 6vw solid transparent;
	border-left: 10vw solid darkslategray;
	border-bottom: 6vw solid transparent;
    border-right: transparent;
    background: none;
}

#counter {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -5.8%;
    left:0;
    right:0;
    text-align: center;
    width: fit-content;
    font-size: 3vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

#quiz_time {
    position: absolute;
    color: red;
    font-size: 8vw;
    margin-top: auto;
    margin-bottom: auto;
    top: 19vw;
    left: -18vw;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: rotate(-90deg);   
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 2;
}
